@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


:root {
    --cor-text1:#b28756;
    --font1: "Montserrat", sans-serif;
    --font2: "Montserrat", sans-serif;
}

* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

body {
    background-color: #F7F7F7;
    
}

main {
    overflow: hidden;
}

header {
    display: flex;
    height: 120px;
    background-color: black;

}

.header {
    display: flex;
    margin: auto;
}

div .img1 {
    width: 150px;
    margin-top: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    
}

.column {
    margin-top: 34px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 50px 10px 46px 3px;
    font-size: 15px;
    font-weight: bold;
}

.menu a:hover {
    color: gray;
    border-bottom: 5px solid  #b28756;
    transition: 0.1s;
}

.menu1 {
    color: gray;
    border-bottom: 5px solid #b28756;
}

.menu-burguer {
   float: right;
   display: none;
}

.banner1 {
    display: flex;
    background: url(projeto-Awax/imagens-complementos/banner-01.png);
    height: 720px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.cont1-text {
    margin: auto;
    margin-top:80px;
}

.cont1-text h1 {
    color: white;
    font-size: 65px;
    
}

.cont1-text .text-cor {
    color: var(--cor-text1);
}

.cont1-text p {
    display: inline-block
}

.cont1-text p {
    color: #ffff;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
    font-weight: bolder;
}

.cont1-text a {
    background-color: var(--cor-text1);
    color: #ffff;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    border-radius: 325px;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
}

.points {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
}

.points a{
   background-color: transparent    ;
    margin: auto;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    padding: 7px;
    border: 2px solid #b28756;
    border-radius: 50px;
}

.points a:hover {
    background-color: var(--cor-text1);
    transition: 0.3s;
}

.points .points1 {
    background-color: var(--cor-text1);
}

.section2 {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.banner2 {
    margin: auto;
    max-width: 1170px;
}

.banner2 .section-text1 {
    text-align: center;
}

.banner2 .section-text1 h2 {
    font-size: 35px;
}

.banner2 .section-text1 p {
    color: gray;
    margin-top: 20px;
    margin-bottom: 55px;
}

.banner2 .conteudo {
    display: flex;
    width: 1060px;
    height: 350px;
}

.banner2 .conteudo p {
    font-family:var(--font2);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
}

.banner2 .conteudo .link {
    display: flex;
    justify-content: center;
    width: 210px;
    background-color: var(--cor-text1);
    color: #fff;
    text-decoration: none;
    padding:18px;
    border-radius: 30px;
}

.conteudo img{
    box-shadow: 1px 1px 10px; 
    margin-right: -50px;  
}

.section3 {
    background-color: black;
}

.banner3 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    height: 430px;
    width: 100%;
}

.banner3-text {
    color: white;
}

.banner3-text1 h2 {
    font-size: 35px;
}

.banner3-text2 p {
    font-family: var(--font2);
    font-size: 16px;
    color: gray;
    padding-top: 20px;
    padding-bottom: 48px;
}

.banner3-img {
   color: white;
   display: flex;
   align-items: center;
   margin: auto;
   max-width: 1170px;
}

.banner3-img div {
    width: 285px;
    height: 180px;
    border-left: 1px solid rgba(128, 128, 128, 0.71);
}

.banner3-img-border {
    border-right: 1px solid gray;
}

.banner3-img h2 {
    margin: auto;
    font-size: 1.3em;
    width: 206px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner3-img p {
    font-size: 0.8em;
    color: gray;
}

.section4-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section4-title {
    text-align: center;
}

.section4-title h2 {
    font-size: 2.3em;
}

.section4-des {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.section4-des p {
    color: rgba(128, 128, 128, 0.592);
    font-family: var(--font2);
    font-weight: bold;
}

.section4-conteudo {
    max-width: 1200px;
    margin: auto;   
}

.section4-links {
    border: 1px solid  rgba(128, 128, 128, 0.556);
    border-radius: 35px;
    background-color: #EDE9E9;
    margin: auto;
    width: 760px;   
    padding: 20px 15px;
    margin-bottom: 40px; 
}

.section4-links a {
    color: black;
    border-right: 1px solid rgba(128, 128, 128, 0.532);
    padding: 16px 24px;
    text-decoration: none;
    font-size: 0.9em;
}

.section4-links .border1 {
    border-bottom: 6px solid #B28756;
}

.section4-links .border2 {
    border: none;
}

.section4-links a:hover {
    border-bottom: 6px solid  #B28756;
}

.section4-body1 {
   display: inline-block;
   padding-left: 25px;
   margin: 10px;
   width: 255px;
   height: 165px;
   cursor: pointer;
}

.section4-cursor {
    background-color:   rgba(0, 0, 0, 0.5);
    color: #FFFF;
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    display: none;
}

.section4-cursor1 {
    background-color:   rgba(0, 0, 0, 0.5);
    color: #FFFF;
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
}

.section4-cursor h2 , .section4-cursor1  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.3em;
    font-weight: bold;
}

 
.section4-button {
    text-align: center;
    margin-top: 50px;
}

.section4-button a {
    color: white;
    text-decoration: none;
    background-color: #B28756;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    font-size: 0.9em;
    font-weight: bold;
}

.section5-body {
    background: url(projeto-Awax/icones/bg-image.png) no-repeat top center;
    background-size: cover;
}

.section5-body {
    height: 700px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.section5-title {
    text-align: center;
    font-size: 1.5em;
    color: #FFFF;
}

.section5-des {
    color: gray;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 40px;
    font-weight: bold;
}

.section5-photos0 {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1170px;
   
}

.section5-photos1 , .section5-photos-1{
    border-radius: 10px;
    background-color: white;
    height: 420px;
    width: 340px;
    margin: 10px;
    text-align: center;
}

.section5-photos1 img , .section5-photos-1 img{
    padding: 30px 0px 30px 0px ;
}

.section5-photos1 h2 , .section5-photos-1 h2 {
    font-weight: 500;
    font-size: 1.4em;
}
.section5-photos1 p , .section5-photos-1 p{
   padding-top: 8px;
   padding-bottom: 30px;
}

.section5-photos-links{
    display: flex;
    justify-content: center;
}

.section5-photos-links a {
    background-color: rgba(128, 128, 128, 0.674);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.section5-photos-links a:hover {
    background-color: #B28756;
}

.section5-button {
    text-align: center;    
}

.section5-button div {
    border: 3px solid #b28756;
    display: inline-block;
    margin: auto;
    margin-top: 25px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.button {
    background-color: #B28756;
}

.section5-button div:hover {
    background-color: #B28756;
    cursor: pointer;
    transition: 0.2s;
}

.section6-container {
    padding-top: 60px;
    padding-bottom: 45px;
    
}

.section6-container .title {
    text-align: center;
    font-size: 1.5em;
}

.section6-container .des {
    color: rgba(128, 128, 128, 0.827);
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 75px;

}

.section6-container .conteudo {
    text-align: center;
}

.section6-container .profile {
    max-width: 1170px;
    margin: auto;
}

.profile img {
    box-shadow: none;
    margin-right: 0;
}

.profile .title2 {
    padding-top: 20px;
}

.profile .des2 {
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 15px;
}

.profile .img2 {
    padding: 15px;
}

.profile .des3 {
    margin: auto;
    font-size: 0.9em;
    width:700px;
}

.section6-button  {
    margin-top: 20px;
    height: 50px;
}

.section6-button div {
    border: 3px solid #b28756;
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.section6-button1 {
    background-color: #B28756;

} 

.section6-button div:hover {
    background-color: #B28756;
    transition: 0.3s;
}

.section7 {
    background-color: white;
    height: 155px;
    border-top: 1px solid rgba(128, 128, 128, 0.323);
    border-bottom: 1px solid rgba(128, 128, 128, 0.323)
}

.section7-imgs {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section8-container {
    background-color: #ededed;
    padding-top: 55px;
    padding-bottom: 60px;
}

.section8-title {
    text-align: center;
    font-size: 1.5em;
}

.section8-des {
    color: rgba(128, 128, 128, 0.701);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 55px;
}

.section8-precos {
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.section8-preco1 {
    background-color:#f7F7F7;
    height: 420px;
    padding: 35px 55px;
    margin-left: 30px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    border: 10px 10px 10px black;
    cursor: pointer;
}

.section8-preco1:hover {
    background-color: #dcdada8d;
    transition: 0.2s;
}

.preco1-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.preco1-value {
    font-size: 2.4em;
    font-weight: bold;
}

.precos1-month {
    color: rgba(128, 128, 128, 0.804);
    font-size: 0.9em;
    padding-bottom: 15px;
}

.precos1-des {
    color: rgb(128, 128, 128) ;
    font-size: 0.9em;
}

.precos1-button {
    background-color: rgb(57, 57, 57);
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.precos1-button1 {
    background-color: var(--cor-text1);
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.precos1-button:hover {
    background-color: #B28756;
    transition: 0.2s;
}

.section9-container {
    padding-top: 65px;
    padding-bottom: 60px;
}

.section9-title {
    text-align: center;
    font-size: 1.5em;
}

.section9-des {
    color: rgba(128, 128, 128, 0.652);
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 120px;
}

.section9-conteudo {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.589);
}

.section9-img img{
   width: 440px;
}

.section9-list1 {
    padding-bottom: 45px;
}

.section9-list1 img  {
    float: left;
    margin-right: 20px;
    padding-bottom: 160px;
}

.section9-list2 img {
    float: left;
    margin-right: 20px;
}

.section9-list1 h2 , .section9-list2 h2 {
    font-size: 1.4em;
}

.section9-list1 p , .section9-list2 p {
    color: gray;
    font-weight: 0.9.em;
    line-height: 30px;
}

.section9-button1 {
    text-align: center;
    padding-top: 40px;
    height: 70px;
}

.section9-button1 div{
    border: 3px solid #B28756;
    border-radius: 50%;
    display: inline-block;
    padding: 7px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.section9-button1 div:hover {
    background-color: #B28756;
    transition: 0.3s;
}

.section9-button1 > .button {
    background-color: #B28756;
}

.section9-button2 p {
   background-color: #B28756;
   color: white;
   margin: auto;
   text-align: center;
   width: 240px;
   margin-top: 35px;
   border-radius: 30px;
   padding: 20px;
   cursor: pointer;
}

.section10 {
    background-color: black;
}

.section10-container {
    padding-top: 55px;
    padding-bottom: 80px;
}

.section10-title {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.section10-des {
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 60px;
}

.section10-conteudo {
    color: white;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section10-conteudo1  {
    text-align: center;
    height: 240px;      
    border-left: 1px solid rgba(128, 128, 128, 0.201);
}

.section10-conteudo4 {
    text-align: center;
    height: 240px;      
    border-left: 1px solid  rgba(128, 128, 128, 0.201);
    border-right: 1px solid rgba(128, 128, 128, 0.201);
}

.section10-conteudo1 .value , .section10-conteudo4 .value {
    color: #B28756;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.section10-conteudo1 .bar , .section10-conteudo4 .bar {
    background-color: gray;
    margin: auto;
    width: 20px;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section10-conteudo1 .text0 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 30px;
    
}

.section10-conteudo1 .text1 , .section10-conteudo4 .text1 {  
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 60px;
}

.section10-conteudo1 .text1-500 {  
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 30px;
}

.section10-conteudo1 .text2 , .section10-conteudo4 .text2{
    color: gray;
}

.section11-container {
    background-color: white;
    height: 85px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.433);
}

.section11-container div {
    color: rgba(128, 128, 128, 0.751);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-right: 40px;
}

.section11-container  img {
    width:50px;
    cursor: pointer;
}

.section11-share img {
    width: 30px;
}

.section11-facebook1 img{
    width: 33px;
}

.section11-container p{
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 7px;
}

.section12-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section12-conteudo {
    width: 600px;
    padding-top: 60px;
    padding-bottom: 70px;
}

.section12-title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

.section12-des {
    text-align: center;
    color: rgba(128, 128, 128, 0.69);
    margin-bottom: 80px;
    font-weight: bolder;
}



.section12-formulario label {
    color: gray;
}

.section12-formulario1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section12-formulario1 div{
    display: inline-block;
    margin-bottom: 70px;
    border-bottom: 2px solid rgb(128, 128, 128);
}


.section12-formulario1 input{
  width: 220px;
  border: 0;
  background-color: white;
  outline: none;
  margin-bottom: 10px;
}

.section12-formulario2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section12-formulario2 div {
    border-bottom: 2px solid gray;
    display: inline-block;
    margin-bottom: 90px;
  
}

.section12-formulario2 input{
    width: 518px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
}

.section12-formulario3 {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.section12-formulario3 div {
    border-bottom: 2px solid gray;
    display: inline-block;
    margin-bottom: 50px;
}

.section12-formulario3 input {
    width: 512px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
}

.section12-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section12-button input {
    background-color: #B28756;
    color: white;
    width: 250px;
    border-radius: 40px;
    border: 0;
    padding: 20px;
    cursor: pointer;
}

.section13-map {
    display: flex;
    align-items: center;    
    padding: 20px 200px ;
    background: url(projeto-Awax/icones/mapa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 450px;
}

.section13-corpo {
    padding:40px;
    color: gray;
    background-color: white;
    width: 580px;
    height: 370px;
}

.section13-img {
    display: flex;
    padding-bottom: 20px;
}

.section13-img > .img-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEAEAE;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

.section13-img p {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-left: 20px;
    
}

.footer-container {
    background-color: black;
    color: white;
    height: 290px;
}

.footer-body {
    display: flex;
    max-width: 1220px;
    height: 290px;
    margin: auto;
    padding: 30px 8px;
}

.footer-body1 {
    width: 400px;
    height: 100%;
}

.footer-body-imgs {
  display: flex;
}

.footer-body-imgs div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    background-color: #6d6c6c;
    border-radius: 50%;
    cursor: pointer;
}

.footer-body1 p {
    margin-top: 150px;
    font-weight: 600;
}

.footer-body2 {
    width: 400px;
    height: 100%;
    margin: 0px 20px
}

.footer-body2 p {
    
    color: rgb(151, 151, 151);
    font-size: 0.9em;
    line-height: 22px;
}

.footer-body3 {
    border-radius: 10px;
    padding: 0px 5px;
    width: 370px;
    height: 100%;
    background-color: #373737;
}

.footer-body3-des {
    width: 240px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
   
}

.footer-body3-des p {
    font-size: 0.9em;
    color: #AEAEAE;
    font-weight: 600;

}

.footer-body3-des > .footer-border {
    border: 1px solid rgb(157, 157, 157);
    margin-top: 15px;
    margin-bottom: 40px
}

.footer-body3-buttom {
    background-color: #b28756;
    margin: auto;
    width: 210px;
    padding: 20px;
    border-radius: 35px;
    cursor: pointer;
}

.footer-body3-buttom p {
    text-align: center;
}


/* Todas as demais midias */

/* Typical Device Breakpoints 
----------------------------
Pequenas telas: 320px a 480px
Celular: vao de  481px até 768px
Tablet: 769px até 1024px
Dasktop: 1025px até 1200px
Grandes telas: acima de 1201px

*/

@media (min-width: 320px) and (max-width:480px) {

  

    nav  {
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70%;
        height: calc(90vh - 100px);
        top: 100px;
        right: 0;
    }

    .column a ,.menu1{
       display: block;
       padding: 30px;
       height: 0px;
       font-weight: bolder;
       font-size: 20px;
       margin-right: 60px;
       margin-bottom: 5px;
    }

    .column {
        margin-top: -100px;
    }

    .menu .column a:hover{
       border: 0;
       color: #b28756;
    }

    .menu-burguer {
        display: flex;
        margin-right: 35px;
    }

    .menu-burguer img {
        width: 40px;
    }

    .header {
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner1 {
       background-image: url(projeto-Awax/imagens-complementos/banner-01.png);
       background-size: cover;
       background-position: left;
    }

    .cont1-text {
        margin-top: 180px;
    }

    .cont1-text h1 {
        font-size: 35px;
    }

    .points {
        margin-top: 210px;
    }

    .section2 {
        height: 950px;
    }

    .banner2 .conteudo {
        display: inline-block;
    }

    .conteudo2 {
        height: 450px;
        width: 400px;
        
    }

    .conteudo2 p {
        margin: auto;
        margin-left: 40px;
    }

    .conteudo a {
        margin-left: 110px
    
    }

    .foto {
        width: 370px;
        margin-left: 25px;    
    }

    .foto img {
        width: 100%;
        background-size: cover;
    }

    .banner3 {
        height:1050px;
    }

    .banner3-img, .banner3-img div{
        display: inline-block;
        border: 0;
        margin-bottom: 20px;
    }

    .banner3-img p {
        margin: auto;
        width: 190px;
    }

    .section4-links {
        height: 100px;
        width: 390px;
    }

    .section4-links a {
        margin-left: 20px;
        padding: 0px 5px;
    }

    .section4-body1 {
        margin: auto;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .section5-photos-1 {
        display: none;
    }

    .profile p {    
        width: 350px;
        margin-left: 40px;
        line-height: 25px;
    }

    .section7-imgs {
       display: flex;
       justify-content:  space-evenly;
    }

    .section7-imgs .img2 {
        display: none;
    }
    

    .section8-precos {
        display: inline-block;
        margin-left: 80px;
    }

    .section8-preco1 {
        margin-bottom: 35px;
    }

    .section9-conteudo {
        display: inline-block;
    }

    .section9-img img {
        width: 330px;
        display: flex;
        margin: auto;
        margin-left: 70px;
        margin-top: -70px;
    }

    .section9-list {
        margin-top: 50px;
        margin-left: 60px
    }

    .section9-list1 img {
        width: 40px;
        margin-bottom: 20px;
    }

    .section9-list1 p {
        width: 340px;
    }

    .section9-list2 img{
        margin-bottom: 30px;
    }

    .section10-container {
        padding-bottom: 30px;
    }

    .section10-conteudo {
        display: inline-block;
        margin: auto;
        margin-left: 20px;
    }

    .section10-conteudo1,
    .section10-conteudo4 {
        border: 0;
    }

    .section10-conteudo1 .text0, 
    .section10-conteudo1 .text1,
    .section10-conteudo4 .text1,
    .section10-conteudo1 .text1-500{
        font-size: 1.2em;
    }

    .section10-conteudo1 .text2,
    .section10-conteudo4 .text2 {
        margin-left: 10px;
    }

    .section11-container div{
        margin-right: 0px;
    }

    .section11-share .img-none, .section11-share p {
        display: none;
    }

    .section11-img p {
        margin-right: 7px;
    }

    .section12-des {
        margin: auto;
        width: 400px;
        margin-bottom: 50px;
    }

    .section12-formulario1 {
        display: inline-block;
        text-align: center;
        width: 420px;
        margin-left: 20px;
    }

    .section12-formulario1 div {
        display: inline-block ;
        width: 300px;
    }

    .section12-formulario2 input{ 
        width: 200px;
    }

    .section12-formulario2 div {
        margin: auto;
        margin-right: 60px;
        width: 300px;
        margin-bottom: 70px;
    }

    .section12-formulario3 input {
        width: 200px;
    }

    .section12-formulario3 div {
        margin: auto;
        margin-bottom: 50px;
    }

    .section13-map {
        padding: 0;
    }

    .section13-corpo {
        margin: auto;
        width: 400px;
    }
    
    .section13-img p {
        margin-left: 30px;
        width: 260px;
    }

    .section13-img > .img-fundo {
        width: 45px;
    }

    .footer-body {
        display: inline-block;
    }

    .footer-container {
        height: 750px;
    }

    .footer-body1 {
        height: 150px;
    }

    .footer-body-imgs {
        display: flex;
        justify-content: center;
    }

    .footer-body1 p {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px
    }

    .footer-body2 p {
        margin: auto;
        width: 350px;
    }

    .footer-body3 {
        margin: auto;
        width: 330px;
    }
}